.add-vehicle {
    margin: 25px auto;
    align-items: center;
    text-align: center;
}

.add-vehicle h3 {
    font-size: 28px;
}

.add-vehicle-form {
    margin: 25px auto;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #303030;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;flex-wrap: wrap;
    padding-bottom: 0px;
}

.form-group label {
    text-align: right;
    flex: 0.3;
    align-self: center;
}

.form-group input, .form-group select, .form-group textarea {
    margin: 5px 30px;
    padding: 0px;
    justify-content: end;
    width: 300px;
    flex: 0.7;
}

.form-group textarea {
    height: 6rem;
}

.error {
    color: red;
}

.error p {
    margin: 0px;
    padding: 0px;
}