.event-container {
    border-radius: 8px;
    background-color: #cda15d;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(241, 143, 23);
    width: 80%;
    align-self: center;
    margin: 20px;
    position: relative;
}

.event-first-row {
    display: flex;
    direction: row;
    margin: 5px;
}

.event-first-row h4 {
    flex: 1;
    margin: 0px;
}

.buttons-group {
    position: absolute;
    top: 2px;
    right: 5px;
    display: flex;
    gap: 7px;
}

.event-container hr {
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(130, 126, 126);
    margin: 1em 0;
    padding: 0;
    margin: 0;
    width: 90%;
    align-self: center;
}

.event-first-row p {
    flex: 1;
    margin: 0px;
}

.event-description {
    padding: 0px;
    margin: 10px;
    text-align: left;
    width: 90%;
    align-self: center;
}

.btn-edit img, .btn-delete img{
    width: 24px;
    height: 24px;
}
