.vehicle {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    border: rgb(122, 122, 122) solid 1px;
    background-color: #303436;
    border-radius: 10px;
    max-width: 80vw;
    position: relative;

}

.buttons-group {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 7px;
}

.vehicle h3 {
    font-size: 32px;
}

.vehicle-info-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 25px 25px;
    align-self: center;
}

.vehicle-image {
    flex: 7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.vehicle-image img {
    margin: 20px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.vehicle-page-info {
    flex: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.vehicle-page-info h3 {
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
    text-align: left;

}

.vehicle-page-info p {
    color: #999;
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
}

.btn-add-event {
    font-size: 24px;
    padding: 8px 30px;
    width: fit-content;
    background-color: rgb(17, 77, 5);
    border-radius: 10px;
    border: green solid 2px;
    align-self: center;
    margin: 25px;
}

.btn-edit, .btn-delete {
    border: none;
    background-color: transparent;
    cursor: pointer;   
}

.btn-edit {
    filter: invert(1);
}

.btn-edit img, .btn-delete img{
    width: 32px;
    height: 32px;
}